.plugin-booking {
    [data-title]:hover:after {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
    }
    [data-title]:after {
        content: attr(data-title);
        position: absolute;
        bottom: 5rem;
        left: -75%;
        padding: $tooltip-padding-y $tooltip-padding-x $tooltip-padding-y $tooltip-padding-x;
        color: $tooltip-color;
        background: $tooltip-bg;
        white-space: nowrap;
        border-radius: $tooltip-border-radius;
        opacity: 0;
        z-index: 99999;
        visibility: hidden;
    }
    [data-title] {
        position: relative;
    }
    .card {
        min-height: 165px;
        .card-title {
            color: $white;
        }
        .card-body {
            max-width: 165px;
            .btn-dialog {
                margin-bottom: 5px;
            }
        }
    }
    .disabled {
        padding: 0 3rem;
        .bg-dark {
            background-color: gray !important;
            border: 5px solid $dark;
        }
    }
    .invisible {
        visibility: hidden;
    }
}
